.title {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 40px;
}
.white {
    color: #e2e2e2;
}

.bg-green {
    background-color: green;
}

.btn-secondary {
    background-color: #413d3d;
    color: #e2e2e2;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    border-radius: 10px;
}

.mt-8 {
    margin-top: 0.8rem !important;
}

.match-card {
    background-image: url(../images/pitch.jpg);
    background-size: cover;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    border: solid #413d3d 0.1px;
}

.match-card:hover {
    opacity: 0.5;
}

.link {
    text-decoration: none;
}
